

body {
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    border: 1px;
    border-style: solid;
    border-color: black;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin-bottom: 20px;
}


.timerBox {
    border: 1px;
    border-style: solid;
    border-color: black;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin-bottom: 20px;
}

.mainContent {
    border: 1px;
    border-style: solid;
    border-color: black;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin-bottom: 20px;
}

